extends ./../partials/header
block main
  .background-shape.buble-start-animation-class
  form.all-content-confirm-wrapper
    span.all-content-header Confirm your Email
    span.all-content-subtitle We have send you an email with your 1 hour-valid confirmation code. If you have a problem using it, you can relogin to take a new confirmation email.
    .form-line
      i.fas.fa-key
      input.form-input#code-input(type="number" autocomplete="off" placeholder="8-Digit Authentication Code")
    span.form-error
    button.form-send-button Continue
