/* 

rgb(36, 52, 76) => dark blue
rgb(246, 247, 251) => message gray
rgb(228,246,246) => user message blue
rgb(85, 197, 191) => seablue, for not read messages and send icon
rgb(110,110,110) => font color

*/

.all-uploading-wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(241, 242, 238);
}

.uploading-icon {
  color: rgb(248, 248, 248);
  font-size: 30px;
  animation: spinAnimation 1.5s linear 0s infinite;
  -webkit-animation: spinAnimation 1.5s linear 0s infinite;
}

@keyframes spinAnimation {
  from {
    transform: rotate(0deg)
  }
  to {
    transform: rotate(360deg)
  }
}
@-webkit-keyframes spinAnimation {
  from {
    transform: rotate(0deg)
  }
  to {
    transform: rotate(360deg)
  }
}


.all-wrapper {
  display: none;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: rgb(241, 242, 238);
}

.edit-profile-wrapper {
  width: 350px;
  min-width: 350px;
  height: 100vh;
  position: absolute;
  z-index: 10;
  left: -350px;
  background-color: rgb(36, 52, 76);
  overflow-y: scroll;
}
.open-right-animation-class {
  animation: open-right 0.5s ease-in-out 0s 1 forwards;
  -webkit-animation: open-right 0.5s ease-in-out 0s 1 forwards;
}
.close-left-animation-class {
  animation: close-left 0.5s ease-in-out 0s 1 forwards;
  -webkit-animation: close-left 0.5s ease-in-out 0s 1 forwards;
}
.edit-profile-inner-wrapper {
  padding: 20px 30px;
  padding-bottom: 60px;
  height: fit-content;
  min-height: fit-content;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

@keyframes open-right {
  from {
    left: -350px;
  }
  to {
    left: 0px;
  }
}
@-webkit-keyframes open-right {
  from {
    left: -350px;
  }
  to {
    left: 0px;
  }
}

@keyframes close-left {
  from {
    left: 0px;
  }
  to {
    left: -350px;
  }
}
@-webkit-keyframes close-left {
  from {
    left: 0px;
  }
  to {
    left: -350px;
  }
}

.edit-profile-go-back-button {
  cursor: pointer;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.edit-profile-go-back-button i {
  color: rgb(236, 236, 236);
  margin-right: 8px;
  font-size: 15px;
}
.edit-profile-go-back-button span {
  color: rgb(236, 236, 236);
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;
}

.edit-profile-image-wrapper {
  align-self: center;
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-bottom: 20px;
}
.edit-profile-image-wrapper img {
  width: 100%;
  min-height: 100%;
}
.edit-profile-image-wrapper span {
  height: 40px;
  width: 200px;
  margin-top: -40px;
  background-color: rgba(36, 52, 76, 0.9);
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding-top: 7px;
  color: rgb(254, 254, 254);
  font-size: 13px;
}

.edit-profile-input-title {
  color: rgb(254, 254, 254);
  font-size: 14px;
  margin-bottom: 10px;
  font-weight: 600;
}
.edit-profile-input {
  width: 100%;
  outline: none;
  border: none;
  font-size: 13px;
  color: rgb(236, 236, 236);
  font-weight: 600;
  background-color: rgb(26, 42, 66);
  border-radius: 30px;
  padding: 10px 10px;
  margin-bottom: 20px;
}
.edit-profile-input-long {
  width: 100%;
  height: 150px;
  outline: none;
  border: none;
  font-size: 13px;
  color: rgb(236, 236, 236);
  font-weight: 600;
  background-color: rgb(26, 42, 66);
  border-radius: 15px;
  padding: 10px 10px;
  margin-bottom: 20px;
  resize: none;
  line-height: 20px;
}
.edit-profile-input::placeholder, .edit-profile-input-long::placeholder {
  color: rgb(200, 200, 200);
  opacity: 0.8;
  font-weight: 500;
}
.edit-profile-button {
  margin-left: auto;
  background-color: rgb(254, 254, 254);
  color: rgb(36, 52, 76);
  font-weight: 800;
  font-size: 14px;
  padding: 5px 15px;
  cursor: pointer;
  border-radius: 20px;
}
.edit-profile-button:hover {
  box-shadow: 0 0 10px rgb(26, 42, 66);
}

.menu-wrapper {
  width: 350px;
  min-width: 350px;
  height: 100vh;
  /* border-right: 1px solid rgb(236, 236, 236); */
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background-color: rgb(36,52,76);
}

.profile-wrapper {
  width: 100%;
  height: 90px;
  min-height: 90px;
  border-bottom: 1px solid rgb(236, 236, 236);
  display: flex;
  align-items: center;
  padding: 0px 15px;
  cursor: pointer;
  overflow-y: scroll;
}
.user-profile-photo {
  width: 50px;
  height: 50px;
  overflow: hidden;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.user-profile-photo img {
  width: 100%;
  min-height: 100%;
}
.user-info-wrapper {
  margin-left: 15px;
  display: flex;
  flex-direction: column;
}
.user-name {
  color: rgb(236, 236, 236);
  font-weight: 600;
  font-size: 14px;
  margin-bottom: 5px;
}
.user-email {
  color: rgb(236, 236, 236);
  font-weight: 400;
  font-size: 13px;
}

.search-wrapper {
  width: 100%;
  height: 55px;
  min-height: 55px;
  border-bottom: 1px solid rgb(236, 236, 236);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3px 0px;
}
.search-inner-wrapper {
  background-color: rgb(26, 42, 66);
  width: calc(100% - 30px);
  height: calc(100% - 14px);
  border-radius: 30px;
  /* border: 1px solid rgb(236, 236, 236); */
  display: flex;
  align-items: center;
  padding: 0px 15px;
}
.search-inner-wrapper i {
  font-size: 14px;
  margin-right: 5px;
  color: rgb(236, 236, 236);
}
.search-chat-input {
  outline: none;
  border: none;
  background-color: transparent;
  font-size: 13px;
  flex: 1;
  color: rgb(236, 236, 236);
  font-weight: 600;
}
.search-chat-input::placeholder {
  color: rgb(200, 200, 200);
  opacity: 1;
  font-weight: 500;
}

.chat-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  height: 100vh;
  background-color: rgb(254, 254, 254);
  overflow: hidden;
  z-index: 2;
  -webkit-overflow-scrolling: touch;
}

.change-chat-header {
  width: 100%;
  height: 50px;
  min-height: 50px;
  /* border-bottom: 1px solid rgb(236, 236, 236); */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 15px;
}
.change-chat-title {
  color: rgb(236, 236, 236);
  font-weight: 600;
  font-size: 14px;
}
.change-chat-subtitle {
  color: rgb(236, 236, 236);
  font-weight: 400;
  font-size: 12px;
}

.change-chat-inner-wrapper {
  width: 100%;
  height: fit-content;
  min-height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.each-change-chat-wrapper {
  width: 100%;
  padding: 0px 15px;
  height: 90px;
  min-height: 90px;
  /* border-bottom: 1px solid rgb(236, 236, 236); */
  display: flex;
  align-items: center;
  cursor: pointer;
}
.selected-chat {
  background-color: rgb(26, 42, 66) !important;
}
.each-change-chat-wrapper:hover {
  background-color: rgb(26, 42, 66);
}
.each-change-chat-profile-photo {
  width: 50px;
  height: 50px;
  min-height: 50px;
  min-width: 50px;
  border-radius: 25px;
  margin-right: 15px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.each-change-chat-profile-photo img {
  width: 100%;
  min-height: 100%;
}
.each-change-chat-info-wrapper, .chat-info-wrapper {
  width: calc(100% - 80px);
  display: flex;
  flex-direction: column;
}
.each-chat-info-title-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5px;
  overflow: hidden;
}
.each-chat-name {
  font-size: 14px;
  color: rgb(236, 236, 236);
  font-weight: 600;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
  white-space: nowrap;
}
.each-chat-last-message-time {
  min-width: fit-content;
  margin-left: 5px;
  color: rgb(236, 236, 236);
  font-weight: 400;
  font-size: 13px;
}
.each-chat-last-message {
  width: 100%;
  height: 20px;
  font-size: 14px;
  color: rgb(236, 236, 236);
  font-weight: 400;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
  white-space: nowrap;
  display: flex;
  align-items: center;
}
.each-chat-last-message span {
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
  white-space: nowrap;
  margin-right: 5px;
}
.chat-not-read-message {
  width: 20px;
  height: 20px;
  min-width: 20px;
  border-radius: 10px;
  background-color: rgb(85, 197, 191);
  color: rgb(241, 242, 238);
  font-size: 11px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  overflow: hidden;
}

.choose-chat-text {
  align-self: center;
  justify-self: center;
  color: rgb(36, 52, 76);
  font-weight: 600;
  font-size: 16px;
}

.chat-profile-wrapper {
  background-color: rgb(36,52,76);
  width: 100%;
  height: 90px;
  min-height: 90px;
  border-bottom: 1px solid rgb(236, 236, 236);
  border-left: 1px solid rgb(236, 236, 236);
  display: flex;
  align-items: center;
}
.chat-go-back-button {
  margin-left: 20px;
  margin-right: -5px;
  font-size: 22px;
  color: rgb(236, 236, 236);
  cursor: pointer;
  display: none !important;
}
.chat-profile-photo {
  width: 60px;
  height: 60px;
  border-radius: 30px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 15px;
}
.chat-profile-photo img {
  height: 100%;
}
.chat-info-wrapper {
  display: flex;
  margin-left: 15px;
  flex-direction: column;
}
.chat-name {
  color: rgb(236, 236, 236);
  font-weight: 600;
  font-size: 16px;
}
.chat-email {
  color: rgb(236, 236, 236);
  font-weight: 400;
  font-size: 14px;
  margin-top: 5px;
}

.chat-messages-wrapper {
  flex: 1;
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 15px 20px;
}

.message-day {
  margin: 15px 0px;
  align-self: center;
  background-color: rgb(246, 247, 251);
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 14px;
  color: rgb(36, 52, 76);
  font-weight: 600;
}

.each-message {
  min-height: fit-content;
  height: fit-content;
  padding: 6px 10px;
  border-radius: 5px;
  max-width: 50%;
  background-color: rgb(246, 247, 251);
  margin-bottom: 3px;
  display: flex;
  flex-direction: column;
  position: relative;
}
.each-new-message {
  border-top-left-radius: 0px !important;
}
.each-new-message::before {
  content: "";
  width: 0px;
  height: 0px;
  border-top: 5px solid rgb(246,247,251);
  border-right: 5px solid rgb(246,247,251);
  border-left: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-top-left-radius: 3px;
  margin-left: -20px;
  margin-top: -5px;
  position: absolute;
}
.each-message-content {
  color: rgb(26, 42, 66);
  font-weight: 500;
  font-size: 14px;
  overflow: hidden;
}
.each-message-time {
  display: flex;
  align-items: center;
  color: rgb(26, 42, 66);
  font-weight: 400;
  font-size: 12px;
  margin-left: auto;
  margin-top: 5px;
}
.each-message-time div {
  display: flex;
  align-items: center;
  margin-left: 8px;
}
.each-message-time div i {
  margin-left: -5px;
  font-size: 10px;
  color: rgb(115, 90, 160);
}

.each-user-message {
  min-height: fit-content;
  height: fit-content;
  padding: 5px 10px;
  border-radius: 5px;
  max-width: 50%;
  background-color: rgb(228, 246, 246);
  margin-bottom: 3px;
  display: flex;
  flex-direction: column;
  position: relative;
  margin-left: auto;
}
.each-new-user-message {
  border-top-right-radius: 0px !important;
}
.each-new-user-message::before {
  content: "";
  width: 0px;
  height: 0px;
  border-top: 5px solid rgb(228, 246, 246);
  border-left: 5px solid rgb(228, 246, 246);
  border-right: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-top-right-radius: 3px;
  margin-left: calc(100% - 10px);
  margin-top: -5px;
  position: absolute;
}
.each-user-message-content {
  color: rgb(36, 52, 76);
  font-weight: 600;
  font-size: 14px;
  overflow: hidden;
}
.each-user-message-time {
  display: flex;
  align-items: center;
  color: rgb(36, 52, 76);
  font-weight: 400;
  font-size: 13px;
  margin-left: auto;
  margin-top: 5px;
}
.each-user-message-time div {
  display: flex;
  align-items: center;
  margin-left: 10px;
}
.each-user-message-time div i {
  margin-left: -5px;
  font-size: 10px;
  color: rgb(85, 197, 191);
}
.not-read-message-icon {
  color: rgba(36, 52, 76, 0.4) !important;
}

.chat-input-wrapper {
  border-top: 1px solid rgb(236, 236, 236);
  border-left: 1px solid rgb(236, 236, 236);
  padding: 0px 15px;
  padding-top: 5px;
  background-color: rgb(36, 52, 76);
  display: flex;
  align-items: center;
  height: 80px;
}
.chat-input {
  background-color: rgb(26, 42, 66);
  font-size: 14px;
  border: 1px solid rgb(236, 236, 236);
  flex: 1;
  height: calc(100% - 30px);
  border-radius: 30px;
  padding: 0px 15px;
  outline: none;
  color: rgb(236, 236, 236);
  font-weight: 600;
}
.chat-input::placeholder {
  color: rgb(200, 200, 200);
  opacity: 1;
  font-weight: 500;
}

@media only screen and (max-width: 800px) and (min-width: 300px) {
  .menu-wrapper {
    position: absolute;
    height: 100vh;
    width: 100vw;
    z-index: 3;
  }
  .chat-go-back-button {
    display: inline-block !important;
  }
}
