extends ./../partials/header
block main
  span.main-header The private communication tool of UAA, securely yours
  span.main-content By UAAchat, reach whoever you want whenever you like. Keep your data secure and use the most modern chat tools. Why don't you try now?
  a.register-button(href="/auth/register")
    span Start Now
